{{ ansible_managed | comment }}
# Prometheus configuration file

global:
  scrape_interval:     {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'example'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  # - "first.rules"
  # - "second.rules"


# Managed nodes in prometheus monitoring
scrape_configs:
{% for phost in prometheus_nodes %}
  - job_name: "{{ phost.job_name }}"
    static_configs:
      - targets: {{ phost.nodes }}

{% endfor %}




# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
#scrape_configs:
#  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
#  - job_name: 'prometheus'
#
#    # Override the global default and scrape targets from this job every 5 seconds.
#    scrape_interval: 5s
#    scrape_timeout: 5s
#
#    # metrics_path defaults to '/metrics'
#    # scheme defaults to 'http'.
#    
#    static_configs:
#      - targets: ['localhost:9090']
#
#  - job_name: node
#    # If prometheus-node-exporter is installed, grab stats about the local
#    # machine by default.
#    static_configs:
#      - targets: ['localhost:{{ prometheus_node_exporter_port }}']
