{{ ansible_managed | comment }}
# Connection string for the PostgreSQL database. You need to either connect as
# superuser, or create a user with enough rights, as described in
# /usr/share/doc/prometheus-postgres-exporter/README.Debian

# DATA_SOURCE_NAME='postgresql://login:password@hostname:port/'
# DATA_SOURCE_NAME='user=prometheus host=/run/postgresql dbname=postgres'
DATA_SOURCE_NAME='postgresql://{{ prometheus_postgres_exporter_dbuser }}:{{ prometheus_postgres_exporter_dbpassword }}@localhost:5432/postgres?sslmode=require'

# Set the command-line arguments to pass to the server.
ARGS=''

# Available flags:
#  --web.listen-address=":9187"  Address to listen on for web interface and telemetry.
#  --web.telemetry-path="/metrics"
#                                Path under which to expose metrics.
#  --extend.query-path=""        Path to custom queries to run.
#  --log.level="info"            Only log messages with the given severity or above. Valid levels: [debug, info, warn, error, fatal]
#  --log.format="logger:stderr"  Set the log target and format. Example: "logger:syslog?appname=bob&local=7" or "logger:stdout?json=true"
